<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MHB.prototype2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.MHB.prototype2.Search"></activity>
        <activity android:name="com.example.MHB.prototype2.History" />
        <activity android:name="com.example.MHB.prototype2.Payment" />
        <activity android:name="com.example.MHB.prototype2.UpdateProfile" />
<!--        <activity android:name=".Profile" />-->
        <activity android:name="com.example.MHB.prototype2.HelpActivity" />
        <activity android:name="com.example.MHB.prototype2.AboutUs" />
        <activity android:name="com.example.MHB.prototype2.Homepage" />
        <activity android:name="com.example.MHB.prototype2.register_activity" />
        <activity android:name="com.example.MHB.prototype2.login_activity" />
        <activity android:name="com.example.MHB.prototype2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>